body
{
       background-color: #F8F8F8;
}
.navigation-bar
{
    background-color: white;
    color: black;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding-left: 10%;
    padding-right: 10%;
}

.button
{
    background-color: dodgerblue;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin-top: 0.7rem;
    height: 1.2em;
}

a
{
    text-decoration:none;
    color: white;
}
#welcome
{
    background-image: url("images/bg-masthead.jpg");
}
.container-column
{
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}

.welcome-container
{
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: white;
}


.welcome-container form input
{
    border-radius: .3rem;
    padding: .375rem .75rem;
    height: 1.2em;
   
}

#prev
{
    justify-content: center
}
.container-row
{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
    text-align: center;
      align-items: center;
  justify-content: center;
}

.container-row .feature
{

    font-size: 1.25rem;
    text-align: center!important;
    margin-bottom: 5em;

}
.feature p
{
    max-width: 20rem;
}

.icon h3
{
    font-size: 1.75rem;
}


#features .container-row
{
    background-color: white;
    margin-top: 0px;
    flex-wrap: wrap-reverse;
}

#features #noreverse
{
    flex-wrap: wrap;
}
#features .container-row .description
{
    flex: 1 0 0;
    
}

#features .container-row img
{
    flex: 1 0 0;
}

#people .container-row
{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#people img
{
    border-radius: 50%;
    max-width: 12rem;
    align-self: center;
}

#people p
{
    max-width: 20rem;
}

#footer 
{
    margin-left: 15rem;
    margin-right: 15rem;
    align-items: center;
    flex-wrap: wrap;
}

#footer #nav
{
    margin-top: 0px;
    color: dodgerblue;
    margin-right: 5px;
    flex-wrap: nowrap;
}


#footer #social-media
{
    height: 30px;
    margin-top: 0px;
    
}

#footer #social-media img
{
    margin-right: 10px;
    margin-left: 10px;
    
        
}
