body
{
   background-color: #F8F8F8;
}
/*-------------------------------------NAVIGATION BAR-------------------------------------*/
.navigation-bar
{
    background-color: white;
    color: black;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    
    padding-left: 10%;
    padding-right: 10%;
}

.button
{
    background-color: dodgerblue;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin-top: 0.7rem;
    height: 1.2rem;
}

.button a
{
    text-decoration:none;
    color: white;
}

/*-------------------------------------NAVIGATION BAR-------------------------------------*/
/*--------------------------------------WELCOME IMAGE-------------------------------------*/
.image-container
{
    background-image: url("images/bg-masthead.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
} 
.container-column
{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container
{   
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: white;
}

#input-container h1
{
    max-width: 37rem;
}

#emailForm
{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    max-width: 37rem;
}
#emailForm form input
{
    border-radius: .3rem;
    padding: .5rem 1.5rem .5rem 1.5rem; /* top right bottom left*/
    min-width: 25rem;
    flex-shrink: 5;
}

#signUp
{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-width: 25rem;
    flex-shrink: 1;
}

/*--------------------------------------WELCOME IMAGE--------------------------------------*/

/*-------------------------------------FEATURES TAB----------------------------------------*/


.container-row
{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*----todo make flex wrap whole container instead og one by one --- */
.feature
{
    font-size: 1.25rem;
    text-align: center!important;
    margin-bottom: 5rem;
}

.feature h3
{
    font-size: 1.75rem;
}

.feature p
{
    max-width: 20rem;
    font-weight: 300;
}

#features h3
{
    font-size: 1.75rem;
    text-align: left;
    padding-left: 5rem;
}

#features p
{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    max-width: 30rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

#features .container-row
{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap-reverse;
}

#noreverse
{
    flex-wrap: wrap;
}

/*----todo flex description and img to 50% size --- */
#features .container-row .description
{
    flex: 1 0 0 ;
    
}

#features .container-row img
{
    flex: 1 0 0;
}

/*-------------------------------------FEATURES TAB-------------------------------------*/
/*-------------------------------------PEOPLE TAB-------------------------------------*/
#people .container-row
{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*----todo make flex wrap whole container instead og one by one --- */
#people img
{
    border-radius: 50%;
    max-width: 12rem;
    align-self: center;
}

#people p
{
    max-width: 20rem;
}

/*-------------------------------------PEOPLE TAB-------------------------------------*/
/*-------------------------------------W-------------------------------------*/

/*-------------------------------------PEOPLE TAB-------------------------------------*/
/*-------------------------------------FOOTER-------------------------------------*/
#footer 
{
    margin-left: 15rem;
    margin-right: 15rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#about
{
    align-content: center;
}
#nav
{
    color: dodgerblue;
    flex-wrap: nowrap;
    margin: 0rem;
    text-align: left!important;
    margin-bottom: 0rem;
}

#nav h5
{
    font-weight: 400;    
    margin-top: 0rem;
}
#social-media
{
    height: 5rem;
    margin-top: 0rem;
    
}

#social-media img
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
/*-------------------------------------FOOTER-------------------------------------*/
